*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(32, 33, 99);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.container{
    width: 40%;
    border-radius: 5px;
    height: 45%;
    /* background-color: rgba(245, 245, 220, 0.196); */
}
 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    position: relative;
    color: #fff;
}
span{
    color: rgb(8, 170, 11);
}
/* span::before{
    content: '';
    width: 57%;
    top: 38px;
    right: 59px;
    height: 3px;
    background-color: rgb(4, 170, 12);
    position: absolute;
} */
.password{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 90%;
    padding-top: 10px;
    flex-wrap: nowrap;
}
input{
    padding-left: 15px;
    height: 45px;
    width: 70%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: none;
}
#copy{
    padding: 13px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: #08AA0B;
    font-weight: 700;
    
    /* background: transparent; */
    /* background-color: transparent; */
    /* width: 70%; */
}
/* #copyicon{
    color: #08AA0B;
    font-size: 40px;
} */
#Generate{
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px;
    background-color: #08AA0B;
    color: #000000;
    border: none;
    font-weight: 700;
    outline: none;
    padding: 10px 15px ;
}